<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mangeproductdb"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:configChanges="keyboardHidden|orientation"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="com.example.mangeproductdb.MainScreenActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- All product Activity -->
        <activity
        	android:name="com.example.mangeproductdb.AllProductsActivity"
        	android:label="All Products">
        </activity>
        
        <!-- Add Product Activity -->
        <activity
        	android:name="com.example.mangeproductdb.NewProductActivity"
        	android:label="Add New Product">
        </activity>
        
        <!-- Edit Product Activity -->
        <activity
        	android:name="com.example.mangeproductdb.EditProductActivity"
        	android:label="Edit Product">
        </activity>
        
    </application>

	<!-- require Internet permission -->
	<uses-permission android:name="android.permission.INTERNET" />

</manifest>
